# Drupal core files managed by Composer
web/core/
web/modules/contrib/
web/themes/contrib/

# Vendor directory
/vendor/

# Recipe files
/recipes

# Drupal config sync (exclude if you're not using config split)
# /config/

# Private files
/private/

# Site-specific files (settings, file uploads)
web/sites/*/files/
web/sites/*/private/
web/sites/*/settings*.php
!web/sites/*/settings.php
web/sites/*/services.yml

# Allow default.settings.php and default.services.yml
!web/sites/example.settings.php
!web/sites/example.sites.php
!web/sites/example.services.yml

# Temporary files
/tmp/
*.log
*.sql
*.sqlite

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Node-related (if using frontend tools)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DDEV
.ddev/.importdb
.ddev/.webimage-extra-packages
.ddev/.downloads/
.ddev/.gitignore
.ddev/nginx-site.conf
.ddev/commands/
.ddev/docker-compose.*

# Misc
.env
.env.*